/.venv/
/.vscode
/sdk_server/.vscode
__pycache__/
/.history/
/sdk_server/data/rooms.json
/sdk_server/data/user_sessions.json
/sdk_server/static/upload/*
!/sdk_server/static/upload/2024/11/05/index.mp4
/sdk_server/data/resume_default.yaml
/sdk_server/data/password_private_key.pem
/sdk_server/logs
/backups
