setuptools
cffi
xxtea-py
gevent
gevent-websocket
loguru
pymysql
flask[async]
pyyaml
dotenv
flask_cors
flask_socketio
sqlalchemy
flask_sqlalchemy
aiortc
aiohttp
eyed3
protobuf==3.19.0
requests
cryptography
lupa
python-telegram-bot
eventlet
rarfile
pyodbc
sqlacodegen
websocket-client
bcrypt
resend
certbot
Pillow
qrcode

